.ImageBanner {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-attachment: fixed;
}

.ProductMilk {
    background-image: url(../../public/image/productMilk.jpg);
}

.ProductGhee {
    background-image: url(../../public/image/productGhee.jpg);
}

.ProductEgg {
    background-image: url(../../public/image/productEgg.jpg);
}

.AboutImage {
    background-image: url(../../public/image/aboutPage.jpg);
}

.ShopImage {
    background-image: url(../../public/image/shopPage.jpg);
}

.GalleryImage {
    background-image: url(../../public/image/galleryPage.jpeg);
}

.ContactImage {
    background-image: url(../../public/image/contactPage.jpg);
}

.FooterImage {
    background-image: linear-gradient(to bottom,
            rgb(16 16 15 / 82%),
            rgba(30, 31, 30, 0.68)),
        url(../../public/image/gallery6.jpg);
    background-size: cover;
}