.ImageBanner {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-attachment: fixed;
}

.ProductMilk {
    background-image: url(../../public/image/productMilk.webp);
}

.ProductGhee {
    background-image: url(../../public/image/productGhee.webp);
}

.ProductEgg {
    background-image: url(../../public/image/productEgg.webp);
}

.ProductVermi {
    background-image: linear-gradient(to bottom,
            rgb(207 207 199 / 38%),
            rgb(6 6 6 / 0%)),
        url(../../public/image/CompostingWorms.webp);
}

.AboutImage {
    background-image: url(../../public/image/aboutPage.webp);
}

.ShopImage {
    background-image: url(../../public/image/shopPage.webp);
}

.GalleryImage {
    background-image: url(../../public/image/galleryPage.webp);
}

.ContactImage {
    background-image: url(../../public/image/contactPage.webp);
}

.FooterImage {
    background-image: linear-gradient(to bottom,
            rgb(16 16 15 / 82%),
            rgba(30, 31, 30, 0.68)),
        url(../../public/image/gallery6.webp);
    background-size: cover;
}